<section id="main_button_container" class="shadow_card">
    <div class="button_row">
        <p class="square_button" onclick="toggleSquareButton(this)">Add Candidate</p>
        <p class="square_button" onclick="toggleSquareButton(this)">View Candidates</p>
    </div>
    <div class="button_row">
        <p class="square_button" onclick="toggleSquareButton(this)">Growth Tracker</p>
        <p class="square_button" onclick="toggleSquareButton(this)">Reports</p>
    </div>
</section>