<section id="main_button_container" class="shadow_card">
    <div class="button_row">
        <button class="square_button" onclick="toggleSquareButton(this)">Add Candidate</button>
        <button class="square_button" onclick="toggleSquareButton(this)">View Candidates</button>
    </div>
    <div class="button_row">
        <button class="square_button" onclick="toggleSquareButton(this)">Growth Tracker</button>
        <button class="square_button" onclick="toggleSquareButton(this)">Reports</button>
    </div>
</section>