<div id="registration_form_container" class="shadow_card">

    <div id="registration_form_title">
        <h1>Login</h1>
    </div>

    <form id="registration_form" action="/user/login" method="POST">

        <div class="registration_form_item">
            <label for="username">Username</label>
            <input type="text" name="username" required>
        </div>

        <div class="registration_form_item">
            <label for="password">Password</label>
            <input type="password" name="password" required>
        </div>

        <div class="registration_form_item">
            <button>Submit</button>

        </div>
    </form>
</div>