<nav id="nav_container" class="shadow_card">
    <div id="nav_icon_container" class="flex_centered">
        <i id="nav_icon" class="fa-solid fa-bars fa-2x"></i>
    </div>
    <div id="nav_title" class="flex_centered">
        <h1>Talent Management Portal</h1>
    </div>
</nav>

<nav id="nav_dropdown" class="shadow_card">
    <a href="/user/home" class="nav_dropdown_item">Home</a>
    <a href="/user/login" class="nav_dropdown_item">Login</a>
    <a href="/user/register" class="nav_dropdown_item">Login</a>
    <a href="/user/logout" class="nav_dropdown_item">Logout</a>
</nav>