<div id="registration_form_container" class="shadow_card">

    <div id="registration_form_title">
        <h1>Create an Account</h1>
    </div>

    <form id="registration_form" action="/user/register" method="POST">

        <div class="registration_form_item">
            <label for="username">Username</label>
            <input type="text" name="username">
        </div>

        <div class="registration_form_item">
            <label for="comapany">Company</label>
            <input type="text" name="company">
        </div>

        <div class="registration_form_item">
            <label for="email">Email</label>
            <input type="email" name="email">
        </div>

        <div class="registration_form_item">
            <label for="password">Password</label>
            <input type="password" name="password">
        </div>

        <div class="registration_form_item">
            <label for="password2">Re-Enter Password</label>
            <input type="password" name="password2">
        </div>

        <div class="registration_form_item">
            <button>Submit</button>

        </div>
    </form>
</div>