<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('partials/styles.ejs') %>
    <title>Register</title>

</head>
<body>

    <div id="main_container">
        
        <!-- navigation -->
        <%- include('partials/navigation.ejs') %>

        <!-- already have an account? -->
        <%- include('partials/already.ejs') %>

        <!-- registration -->
        <%- include('partials/registration_form.ejs') %>
          
    </div>
    

    <script src="../public/index.js"></script>
</body>
</html>